{{new-question saveQuestion2="saveQuestion3"}}
<h1>Home page</h1>
{{#each model.questions as |question|}}
  <div class="blog-post">
    <h3>{{#link-to 'question' question.id}}{{question.title}}{{/link-to}}</h3>
    <p>{{question.author}}</p>
    <p>{{question.shortContent}}</p>
    <br>
  </div>
{{/each}}
