{{new-question saveQuestion2="saveQuestion3"}}
<h1>Home page</h1>
{{#each model.questions as |question|}}
  <div class="blog-post">
    <div class="post-title">{{question.title}}</div>
    <p class="blog-post-meta">{{question.created}}</p>
    <br>
    <!-- {{#link-to 'question' question.id}}Read More{{/link-to}} -->
  </div>
{{/each}}
