<h1>Epicodus message board</h1>
<p>Click below button to ask question</p>
{{new-question saveQuestion2="saveQuestion3"}}
<hr>
<h3>Top questions</h3>
<hr>

{{#each model.questions as |question|}}
  <div class="blog-post">
    <h3>{{#link-to 'question' question.id}}{{question.title}}{{/link-to}}</h3>
    <p>{{question.author}}</p>
    <p>{{question.shortContent}}</p>
    <br><hr>
  </div>
{{/each}}
